@media (max-width:1275px){
  .about{
    &__top-item:last-child{
    padding-right: 15px;
    }
    &__top{
      left: 0;
      padding: 0 5px;
    }
    &__top-item:first-child{
      padding-left: 15px;
    }
    &__top-list{
      justify-content: space-between;
    }
  }
  
}

@media (max-width:1230px) {
  .header-content{
    &__title {
      font-size: 50px;
      line-height: 70px;
    }
  }
}
@media (max-width:1000px){
  .about{
    &__top{
        left: 0;
        padding: 0 5px;
    }
    &__bottom-inner{
      flex-direction: column;
    }
    &__link{
      display: block;
      color: $default;
    }
    &__bottom-content{
      max-width: 100%;
    }
    &__bottom-info{
      position: initial;
      min-width: 100%;
      padding: 20px 20px;
      box-shadow: 100px 0px 100px;
      margin: 20px 0;
    }
    &__bottom-author{
      justify-content: flex-end;
    }
  }
  .title{
    font-size: 30px;
  }
  
  blockquote{
    font-size: 20px;
    text-align: right;
  }
}
@media (max-width:768px){
  .header{
    padding: 24px 0 126px;
  }
  .header-content{
    &__title {
      font-size: 32px;
      line-height: 41px;
    }
  }
  .about{
    &__top{
      height: auto;
      top: 0;
      position: initial;
    }
    &__top-item {
    }
    &__top-list{
      height: auto;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }
    &__bottom{
      padding-top: 20px;
    }
  }
}
@media (max-width:520px){
  .about{
    &__top-item {
        width: 23%;
    }
    &__bottom-author{
      // margin-bottom: -50px;
    }
  }
  blockquote{
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width:460px){
  .about__bottom-author{
    display: block;
    img{
      display: none;
    }
  }
}